@import "src/assets/global.scss";

.wrapper {
  padding: 0.5rem;
}

.header {
  text-transform: capitalize;
}

.serviceError {
  color: red;
}

.cityNotFound {
  color: orange;
}

.chartsWrapper {
  @media #{$desktop-and-up} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}
