@import "src/assets/global.scss";

.toolbar {
  @media #{$tablet-and-up} {
    flex-direction: row;
  }
}

.nav {
  @media #{$tablet-and-up} {
    margin-left: auto;
  }
}

.active-link {
  background-color: rgba(99, 99, 99, 0.1);
}
